/**
* Shows how you can use CSS to style your Element's container.
*/
.MyCardElement {
    /* height: 40px; */
    padding: 15px 15px;
    width: 100%;
    color: grey;
    background-color:   white;
    border: 1px solid grey;
    border-radius: 4px;
    /* margin-top: 120px; */
    box-shadow: 9px 12px 9px #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .MyCardElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .MyCardElement--invalid {
    border-color: #fa755a;
  }
  
  .MyCardElement--webkit-autofill {
    background-color: #fefde5 !important;
  }